name: Secure Integration test

on:
  pull_request_target:
    branches: [main]
  merge_group: # Run tests in merge queue
    types: [checks_requested]
jobs:
  authorization-check:
    name: Check access
    permissions: read-all
    runs-on: ubuntu-latest
    outputs:
      approval-env: ${{ steps.auth.outputs.result }}
    steps:
      - name: Check Authorization
        id: auth
        uses: strands-agents/devtools/authorization-check@main
        with:
          skip-check: ${{ github.event_name == 'merge_group' }}
          username: ${{ github.event.pull_request.user.login || 'invalid' }}
          allowed-roles: 'triage,write,admin'

  run-integration-tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    needs: authorization-check
    environment: ${{ needs.authorization-check.outputs.approval-env }}
    permissions:
      id-token: write
      pull-requests: read
      contents: read

    steps:
      - name: Configure Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
         role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
         aws-region: us-east-1
         mask-aws-account-id: true

      - name: Checkout head commit
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }} # Pull the commit from the forked repo
          persist-credentials: false  # Don't persist credentials for subsequent actions

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: |
          npm install
          npm run test:browser:install

      - name: Build the package
        run: npm run build

      - name: Run integration tests
        run: npm run test:integ:all

      - name: Upload test artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-artifacts-integ
          path: ./test/.artifacts/
          retention-days: 4
          include-hidden-files: true # needed because the path has a directory starting with a '.'
          if-no-files-found: ignore
